//////////////////////////////////////////////////////Bid view ////////////////////

.content-list-bid {
    background: white;
    height: 150vh;
    overflow: auto;
    max-height: calc(100vh - 387px);
  
    .content-item {
      height: 127px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #EDEDED;
      justify-content: space-evenly;
      
      .image-item{
        .image {
          margin-left: 40px;
          width: 70px;
          height: 75px;
          border: 1px solid #F5F6F8;
          box-sizing: border-box;
          border-radius: 3px;
        }
        .count {
          width: 28px;
          height: 12px;
          margin-left: 62px;
          margin-top: 2px;
          border-radius: 6px;
          border: 0.75px solid  #FFAA09;
          
          font-family: Arial;
          line-height: normal;
          font-size: 10px;
          text-align: center;
          
          color: #FFAA09;

        }
      }
      .item-name {
        width: 133px;
        margin-left: 24px;
        .name {
          font-family: Arial;
          font-style: normal;
          font-weight: bold;
          line-height: normal;
          font-size: 18px;

          color: #394158;
        }
        .group {
          font-family: ArialMT;
          line-height: normal;
          font-size: 13px;

          color: #3F4257;
        }
      }
      .item-size {
        width: 100px;
        height: 70px;
        margin-left: 30px;
        font-family: Arial;
        font-style: normal;
        line-height: 22px;
        font-size: 14px;
        color: #BCBBC4;
      }
      .out-stock {
        width: 98px;
        height: 22px;
        margin-left: 77px;

        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;

        color: #BCBBC3;
      }
      .circle {
        width: 22px;
        height: 22px;
        min-width: 22px;
        border-radius: 11px;
        border: 1px solid #BDC3D0;
      }
      .circle1 {
        width: 22px;
        height: 22px;
        min-width: 22px;
      }
      .replace {
        width: 397px;
        height: 86px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .item-replace {
        width: 175px;
        height: 41px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        background: #394158;
        border-radius: 7px;

        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        line-height: 19px;
        font-size: 18px;
        text-align: center;

        color: #FFFFFF;
      }
      .price-total1 {
        display: flex;
        width: 397px;
        height: 86px;
        margin-left: 30px;
        align-self: center;
      }
      .price-total {
        display: flex;
        width: 397px;
        height: 86px;
        margin-left: 30px;
        align-self: center;
        background: #F5F6F8;
        border: 1px solid #E7E7E7;
        box-sizing: border-box;
        .divider{
          width: 1px;
          height: 85px;
          border: 1px solid #E7E7E7;
        }
        .price {
          margin-top: 11px;
          margin-left: 21px;
          width:170px;
          font-family: Arial;
          font-style: normal;
          font-weight: bold;
          line-height: 26px;
          font-size: 18px;            
          color: #394158;

          .price-val {
            margin-top: 8px;
            width: 126px;
            height: 27px;
            padding: 5px 18px;
            border-radius: 13px;
            border: 1px solid #BDC3D0;
            font-family: ArialMT;
            line-height: normal;
            font-weight: normal;
            font-size: 14px;
            text-align: center;
            
            color: #B4BAC1;
          }
          .total-val {
              font-size: 17px;      
            font-weight: normal;

          }
        }
      }
    }
  }
  .line {
    text-decoration: line-through red;
    margin-bottom: 0px;
  }