
.fontH1 {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}
.fontH2 {
    font-family: Arial;
    font-weight:normal;
    font-size: 15px;
}
.fontH3 {
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
}
.fontH4 {
    font-family: Arial;
    font-weight: normal;
    font-size: 14px;
}
.fontH5 {
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
}
.fontH6 {
    font-family: Arial;
    font-weight: bold;
    font-size: 15px;
}
.fontH7 {
    font-family: Arial;
    font-weight: normal;
    font-size: 12px;
}
.fontH8 {
    font-family: Arial;
    font-weight: bold;
    font-size: 21px;
}
.fontH9 {
    font-family: Arial;
    font-weight: normal;
    font-size: 17px;
}
.fontH10 {
    font-family: Arial;
    font-weight: bold;
    font-style: normal;
    font-size: 28px;
}

:root {
    --navy-color:#394158;
    --blue1-color:#1A9FFF;
    --blue2-color:#1E89DF;
    --gray1-color:#C9CFD6;
    --gray2-color:#394158;
    --gray3-color:#B4BAC1;
    --gray4-color:#7A838F;
    --gray5-color:#BCBBC3;
    --green-color:#16C360;
    --orang-color:#FFAA09;
}