#login {
  height: 100vh;
  justify-content: center;
  align-items: center;
  
  .login-wrapper {
    width: 469px;
    height: 459px;
    align-items: center;
    border: 1px solid #babbbb;
    margin-top: 50px;
    padding: 2%;
    background: #f8fcff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 8px;
  }
  .login-panel {
    width: 469px;
    padding-top: 10px;
    margin: auto;
    align-content: center;
    align-self: center;
  }
  .login-form {
    width: 350px;
    margin: auto;
    .login-form-title {

    font-family: Arial;
    font-weight: bold;
    font-style: normal;
    font-size: 28px; 
    color: #394158;
    }
    input {
      border: none !important;
      border-bottom: 1px solid #ddd !important;
      border-radius: 0 !important;
      font-family: Arial;
      font-weight: bold;
      font-size: 21px;    
      color: #394158;
    }
    input:focus{
      border-bottom: 1px solid #ddd !important;
      box-shadow: none;
    }
    input:-webkit-autofill{
      background-color: transparent !important;
    }
  }
  .login-form .ant-col-xs-24{
    width: 100% !important;
    label {
      color: #BCBBC3;
      font-size: 17px;

    }
  }
  .remember-checkbox {
    color: #BCBBC3;
    font-size: 17px;
    margin-bottom: 10px;
  }
  .login-form-button {
    width: 152px;
    height: 48px;
    border-radius: 8px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
  }
  .forgot-form-button {
    width: 190px;
    height: 48px;
    color: #394158;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #000;
    margin-left: 10px;
  }

  .login-logo {
    width: 117px;
    height: 35px;
    margin: auto;
    display: flex;
    margin-top: 146px;
    // margin-top: 150px;
  }
}
#signup{
  height: 100vh;
  width: 441px;
  min-height: 887px;
}
.signup {
  height: 100vh;
  justify-content: center;
  align-items: center;
  .signup-dialog{    
    width: 1000px;
    height: 100%;
    margin-left: 450px;
    align-items: center;
    align-self: center;
    align-content: center;
    // background-color: red;

    .signup-title {
      padding-top: 100px;
      font-family: Arial;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 28px;
      text-align: center;
      color:#394158;
    }
    .signup-close {
      position: absolute;
      width: 36px;
      height: 36px;
      left: 1243px;
      top: 88px;
    }
    .signup-help {
      margin-top: 20px;  
      font-family: Arial;
      font-style: normal;
      font-weight: normal;
      line-height: 29px;
      font-size: 20px;
      text-align: center;  
      color:#394158;
    }
    .signup-wrapper {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      .ant-form-item {
        width:300px;
        label {
          font-family: Arial;
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          font-size: 17px;
          color: #CCCBCB;
        }
        input {
          font-family: Arial;
          font-style: normal;
          font-weight: bold;
          line-height: normal;
          font-size: 21px;

          color: #394158;
        }
      }
    }

  }

  .term1{
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    font-size: 16px;
    text-align: center;
    
    color: #BCBBC3;
    b {
      font-size: 18px;
      color: rgb(38, 140, 236);
    }
  }
  .signup-form .ant-col-xs-24{
    width: 100% !important;
    padding-left:10px; 
  }
  .signup-form {
    width: 610px;
    margin: auto;
    input {
      border: none !important;
      border-bottom: 1px solid #ddd !important;
      border-radius: 0 !important;
      font-family: Arial;
      font-weight: bold;
      font-size: 21px;    
      color: #394158;
    }
    input:focus{
      border-bottom: 1px solid #ddd !important;
      box-shadow: none;
    }
    input:-webkit-autofill{
      background-color: transparent !important;
    }
  }
}
.register-button {
  width:190px;
  height: 48px;
  margin-top: 20px;
  margin-left: 220px;
  display: flex;
  align-content: center;
  align-self: center;
  justify-content: center;

  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  line-height: 19px;
  font-size: 18px;
  text-align: center;

  color: #FFFFFF;
}
.mark {
  margin-left: 20px;
  width: 65px;
  height: 19px;
  margin-top: 20px;
}