.filter-view {
    display: flex;
    align-items: center;
    height: 31px;
    .sort-name {
        font-family: Arial;
        line-height: normal;
        font-weight: bold;
        font-size: 12px;
        text-align: left;        
        color: #1A9FFF;
        margin-left: 12px;
        width: 70px;
    }
    .filter-name {
        // width: 139px;
        font-family: Arial;
        line-height: normal;
        font-weight: bold;
        font-size: 12px;
        text-align: center;        
        color: #1A9FFF;
        input {
            width: 180px;
        }
    }
    .select-sort {
        width: 185px;
        .Select-control {
            border: none;
            .Select-value {
                line-height: 14px;
                font-family: Arial;
                line-height: 36px;
                font-weight: normal;
                font-size: 12px;
                text-align: left;    
                color: #BCBBC3;
                .Select-value-label {
                    color: #BCBBC3 !important;
                }
            }
        }
    }
}

.product-name {
    font-family: Arial;
    font-weight: normal;
    font-size: 12px;
    width: 180px;  
    color: #394158;
  }
  .delivery {
    font-family: ArialMT;
    line-height: normal;
    font-size: 12px;
    width: 180px;

    color: #BCBBC3;
  }
.search-list-order {
    width:100%;
    overflow: auto;
    background: #F9F9F9;
    max-height: calc(100vh - 145px);
    .search-item {
        align-items: center;
        display: flex;
        width: 277px;
        height: 95px; 
        padding-left:12px;
        background: #F9F9F9;
      cursor: pointer;
      .company-info {
        display: flex;
        .company-name {
          width: 164px;
          font-family: Arial;
          font-weight: bold;
          font-size: 15px;
          color: #394158;
        }
        .time {
          width:80px;
          margin-left:10px;
          font-family: Arial;
          font-weight: normal;
          font-size: 12px;
          text-align: right;
          color: #BCBBC3;
        }
      }
      .view-paid {
          margin-left: 10px;
          width: 64px;
          height: 16px;
          border: 1px solid #16c360;
          border-radius: 10px;
          font-family: Arial;
          font-weight: bold;
          font-size: 9px;
          text-align: center;
          color: #16c360;
        }
        .view-supplied {
          margin-left: 10px;
          width: 64px;
          height: 16px;
          border: 1px solid #16c360;
          border-radius: 10px;
          font-family: Arial;
          font-weight: bold;
          font-size: 9px;
          text-align: center;
          color: #16c360;
        }
        .view-nopaid {
          margin-left: 10px;
          width: 64px;
          height: 16px;
          border: 1px solid #e2445c;
          border-radius: 10px;
          font-family: Arial;
          font-weight: bold;
          font-size: 9px;
          text-align: center;
          color: #e2445c;
      
        }
        .view-nosupplied {
          margin-left: 10px;
          width: 64px;
          height: 16px;
          border: 1px solid #e2445c;
          border-radius: 10px;
          font-family: Arial;
          font-weight: bold;
          font-size: 9px;
          text-align: center;
          color: #e2445c;
      
        }
    }
  }

  .receive-payment-view {
      width: 180px;
      text-align: center;
      font-family: Arial;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 14px;      
      color: #7A838F;
      .receive-payment-val {
          margin:auto;
        width: 126px;
        height: 27px;
        padding: 5px 18px;
        border-radius: 13px;
        border: 1px solid #BDC3D0;
        font-family: ArialMT;
        line-height: normal;
        font-weight: normal;
        font-size: 14px;
        text-align: center;        
        color: #B4BAC1;
      }
      .receive-payment-button {
        margin-top: 9px;
        width: 150px;
        height: 31px;          
        background: #16C360;
        border-radius: 6px;
        border-color: #16C360;

        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        text-align: center;

        color: #fff;
      }
  }