
//Request screen
.request-screen {
    display: flex;
    height: auto;
    background-color: #fff;
  }
  .request-search {
    width:293px;
    // background: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
  }
  .search-input {
    margin-top: 15px;
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 10px;
    input{
      width: 100%;
      background: #FFFFFF;
      border: 1px solid #BDC3D0;
      box-sizing: border-box;
      border-radius: 59px;
      /* transform: rotate(-180deg); */
      padding: 6px 39px;
      font-family: Arial;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 13px;
      color: #3F4257;
      outline: none;
    }
  }
  .search-list {
    width:100%;
    overflow: auto;
    background: #F9F9F9;
    max-height: calc(100vh - 120px);
    .search-item {
        align-items: center;
        display: flex;
        width: 277px;
        height: 95px; 
        padding-left:12px;
        background: #F9F9F9;
      cursor: pointer;
      .company-info {
        display: flex;
        .company-name {
          width: 164px;
          font-family: Arial;
          font-weight: bold;
          font-size: 15px;
          color: #394158;
        }
        .time {
          width:80px;
          margin-left:10px;
          font-family: Arial;
          font-weight: normal;
          font-size: 12px;
          text-align: right;
          color: #BCBBC3;
        }
      }
    }
  }
  
  .request-content {
    width: 100%;
    .request-content-header{
      display: flex;
      align-items: center;
    //   justify-content: space-around;
      height:127px;
      background: white;
      .image {
        width: 59px;
        height: 59px;
        margin-left: 28px;
      }
      .groupname {
        width: 220px;
        height: 36px;
        margin-left: 15px;
        .group {
          height: 18px;
          font-family: Arial;
          font-style: normal;
          font-weight: bold;
          line-height: normal;
          font-size: 15px;
  
          color: #394158;
        }
        .project {
          height: 14px;
          margin-top:4px;
          font-family: Arial;
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          font-size: 12px;
  
          color: #394158;
        }
      }
      .delivery {
        margin-left: 5px;
        width: 250px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 14px;
        color: #BCBBC3;
      }
      .payment {
        margin-left: 5px;
        width: 280px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 14px;
        color: #BCBBC3;
      }
      .contact {
        display: flex;
        margin-left: 20px;
        align-items: center;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 12px;
        color: #BCBBC3;
        img {
          width: 44px;
          height: 44px;
          cursor: pointer;
        }
        .contact-btt {
          width: 70px;
          text-align: center;
        }
        .email-btt {
          width: 70px;
          text-align: center;
        }

      }
    }
    .colors-paint {
      height:25px;
      width: 100%;
      background: #F6F7F8;
      border: 0.75px solid #E6E6E6;
      .data {
        margin-top: 4px;
        margin-bottom: 4px;
        margin-left: 41px;
        box-sizing: border-box;
        font-family: ArialMT;
        line-height: normal;
        font-size: 12px;    
        color: #BCBBC3;
  
      }
    }
    .content-list {
      background: white;
      height: 150vh;
      overflow: auto;
      max-height: calc(100vh - 445px);
      .content-item {
        height: 127px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #EDEDED;
        justify-content: space-evenly;
        
        .image-item{
          .image {
            margin-left: 40px;
            width: 70px;
            height: 75px;
            border: 1px solid #F5F6F8;
            box-sizing: border-box;
            border-radius: 3px;
          }
          .count {
            width: 28px;
            height: 12px;
            margin-left: 62px;
            margin-top: 2px;
            border-radius: 6px;
            border: 0.75px solid  #FFAA09;
            
            font-family: Arial;
            line-height: normal;
            font-size: 10px;
            text-align: center;
            
            color: #FFAA09;
  
          }
        }
        .item-name {
          width: 133px;
          margin-left: 24px;
          .name {
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            line-height: normal;
            font-size: 18px;
  
            color: #394158;
          }
          .group {
            font-family: ArialMT;
            line-height: normal;
            font-size: 13px;
  
            color: #3F4257;
          }
        }
        .item-size {
          width: 100px;
          height: 70px;
          margin-left: 30px;
          font-family: Arial;
          font-style: normal;
          line-height: 22px;
          font-size: 14px;
          color: #BCBBC4;
        }
        .out-stock {
          width: 98px;
          height: 22px;
          margin-left: 77px;
  
          font-family: Arial;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
  
          color: #BCBBC3;
        }
        .circle {
          width: 22px;
          height: 22px;
          min-width: 22px;
          border-radius: 11px;
          border: 1px solid #BDC3D0;
          cursor: pointer;
        }
        .circle1 {
          width: 22px;
          height: 22px;
          min-width: 22px;
          cursor: pointer;
        }
        .replace {
          width: 397px;
          height: 86px;
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .item-replace {
          width: 175px;
          height: 41px;
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: center;
  
          background: #394158;
          border-radius: 7px;
  
          font-family: Arial;
          font-style: normal;
          font-weight: bold;
          line-height: 19px;
          font-size: 18px;
          text-align: center;
  
          color: #FFFFFF;
        }
        .price-total1 {
          display: flex;
          width: 397px;
          height: 86px;
          margin-left: 30px;
          align-self: center;
          cursor: pointer;
        }
        .price-total {
          display: flex;
          width: 397px;
          height: 86px;
          margin-left: 30px;
          align-self: center;
          background: #F5F6F8;
          border: 1px solid #E7E7E7;
          box-sizing: border-box;
          .divider{
            width: 1px;
            height: 85px;
            border: 1px solid #E7E7E7;
          }
          .price {
            margin-top: 11px;
            margin-left: 21px;
            width:170px;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            line-height: 26px;
            font-size: 18px;            
            color: #394158;

            .price-val {
              margin-top: 8px;
              width: 126px;
              height: 27px;
              padding: 5px 18px;
              border-radius: 13px;
              border: 1px solid #BDC3D0;
              font-family: ArialMT;
              line-height: normal;
              font-weight: normal;
              font-size: 14px;
              text-align: center;
              
              color: #B4BAC1;
            }
            .total-val {
                font-size: 17px;      
              font-weight: normal;
  
            }
          }
        }
      }
    }
  }
  
  .price-val-normal {
    // margin-top: 8px;
    // width: 126px;
    height: 33px;
    padding: 5px 18px;
    font-family: ArialMT;
    line-height: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    
    color: #394158;
  }
  .ant-layout-content {
    margin: 0 !important;
  }
  
  .ant-layout-sider {
    max-width: 121px !important;
    min-width: 121px !important;
    flex: 0 0 121px;
    background: white;
  }
  .form-fields {
    padding: 24px;
    padding-bottom: 12px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    margin-top: 10px;
  }
  
  .is-danger {
    color: red;
  }
  
  .couldinary {
    display: flex;
    flex-wrap: wrap;
  
    .couldinary-img {
      width: 104px;
      height: 104px;
    }
  }
  
  .ant-notification-notice {
    .ant-notification-notice-content {
      max-height: 400px;
      overflow: auto;
    }
  }
  
  
.send-btt {
  cursor: pointer;
  width: 100%;
  height: 58px;
  background-color: #16C360;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 21px;
  text-align: center;
  
  color: #FFFFFF;

  img {
    width: 20px;
    height: 20px;
    margin: auto;
    margin-left: 10px;
  }
}
.ant-modal-mask {
  background-color: rgba(255, 255, 255, 0.6);
}
.modal-send {
  width: 400px;
}
.send-success-dialog {
  width: 100%;
  text-align: center;
  background-color: #fff;
  align-items: center;
  .success-img {
    width: 67px;
    height: 67px;
  }
  .success-txt {
    margin-top: 40px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 38px;
    text-align: center;
    
    color: #394158;
  }
  .success-txt2 {
    margin-top: 10px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 38px;
    text-align: center;
    
    color: #394158;
  }
  .success-ok {
    margin-top: 67px;
    width: 191px;
    height: 39px;
    
    background: #16C360;
    border-radius: 6px;

    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    text-align: center;

    color: #F3F2F7;
  }
}