
///////////////////////////////////////Setting
.setting {
    height: 730px;
    width: 1271px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    background: white;
    .react-tabs__tab-list {
      border: none;
      margin: auto;
      width: 765px;
      padding-top: 40px;
  }
    .react-tabs__tab {
      width: 255px;
      height: 58px;
      text-align: center;
      border: none;
      border-bottom: 4px solid rgba(141, 141, 141,0.2);
  
      font-family: Arial;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 18px;
      text-align: center;
      
      color: #B4BAC1;
      outline: none;
    }
    .react-tabs__tab--selected{
      width: 255px;
      height: 58px;
      text-align: center;
      border-bottom: 4px solid #1A9FFF;
  
      font-family: Arial;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 18px;
      text-align: center;
  
      color: #394158;
    }
  }
  
  //////////////////////////////////////company setting///////////////////////////
  .company-setting {
    margin: auto;
    width: 900px;
    padding-top: 80px;
    .company-logo {
      width: 255px;
      margin-top: 30px;
      text-align: center;
      .help {
        margin-bottom: 20px;
  
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        line-height: 21px;
        font-size: 17px;
        text-align: center;
  
        color: #BCBBC3;
      }
      p {
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 21px;
  
        color: #394158;
      }
      .company-img {
        width: 133px;
        height: 133px;
        border-radius: 67px;
      }
      .edit {
        width: 59px;
        height: 59px;
        border-radius: 29px;
        margin-left: -46px;
        margin-top: 76px;
        cursor: pointer;
      }
    }
    .company-details {
      width: 700px;
      margin-left: 30px;
      .ant-form-item {
        width:332px;
      }
      .signup-form .ant-col-xs-24{
        width: 100% !important;
        padding-left:10px; 
        label{
          font-family: Arial;
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          font-size: 17px;
          
          color: #BCBBC3;
    
        }
      }
      .signup-form input{
        border: none !important;
        border-bottom: 1px solid #ddd !important;
        border-radius: 0 !important;
  
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 21px;
  
        color: #394158;
      }
      .signup-form input:focus{
        border-bottom: 1px solid #ddd !important;
        box-shadow: none;
      }
      .signup-form input:-webkit-autofill{
        background-color: transparent !important;
      }
    }
    .ant-form-item-control {
      text-align: center;
    }
    .save-button-view {
        display: flex;
        margin: auto;
        align-items: center;
        .save-button {
          width: 189px;
          height: 49px;     
          margin-top: 80px;
          margin-left: 400px; 
          background: #16C360;
          border-color: transparent;
          border-radius: 7px;
          font-family: Arial;
          font-style: normal;
          font-weight: bold;
          line-height: 19px;
          font-size: 18px;
          text-align: center;
      
          color: #FFFFFF;
        }
    }
  }
  ///////////////////////////Cpmpany password///////////////////////////
    .company-password {
      display: flex;
      margin: auto;
      width: 900px;
      padding-top:80px;
      justify-content: center;
  
      .ant-form-item {
        width:543px;
      }
      .password-form .ant-col-xs-24{
        width: 100% !important;
        label{
          font-family: Arial;
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          font-size: 17px;
          
          color: #BCBBC3;
    
        }
      }
      .password-form input{
        border: none !important;
        border-bottom: 1px solid #ddd !important;
        border-radius: 0 !important;
  
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 32px;
  
        color: #394158;
      }
      .signup-form input:focus{
        border-bottom: 1px solid #ddd !important;
        box-shadow: none;
      }
      .signup-form input:-webkit-autofill{
        background-color: transparent !important;
      }
      .ant-form-item-control {
        text-align: center;
      }
    .save-button {
      width: 219px;
      height: 48px;
      margin-top: 50px;
  
      background: #16C360;
      border-color: transparent;
      border-radius: 7px;
      font-family: Arial;
      font-style: normal;
      font-weight: bold;
      line-height: 19px;
      font-size: 18px;
      text-align: center;
  
      color: #FFFFFF;
    }
  }
  
  ///////////////////////////Cpmpany Payment////////////////////////////
  .company-payment {
    display: flex;
    margin: auto;
    width: 900px;
    padding-top: 80px;
    justify-content: center;
    .company-logo {
      width: 220px;
    //   margin-top: 30px;
      text-align: center;
      p {
        margin-left: 20px;
        margin-right: 20px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 18px;
        text-align: center;
  
        color: #394158;
      }
      .visa-selected {
        width: 234px;
        height: 161px;        
        background: #F5F6F8;
        border: 1px solid #A3ADC0;
        box-sizing: border-box;
        border-radius: 16px;
      }
      .visa-no-selected {
        width: 234px;
        height: 161px;   
      }
      .visa-img {
        width: 210px;
        height: 102px;
        margin-top: 13px;
      }

      .paypal-no-selected {
        margin-top: 15px;
        width: 234px;
        height: 161px;        
      }
      .paypal-selected {
        margin-top: 15px;
        width: 234px;
        height: 161px;        
        background: #F5F6F8;
        border: 1px solid #A3ADC0;
        box-sizing: border-box;
        border-radius: 16px;
      }
      .paypal-img {
        width: 210px;
        height: 102px;
        margin-top: 13px;
      }
      .pay-mode-text {
          margin-top: 11px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        line-height: 21px;
        font-size: 16px;
        text-align: center;        
        color: #B4BAC1;
      }
    }
    .company-details {
      width: 650px;
      margin-left: 100px;
      .ant-form-item {
        width:332px;
      }
      .signup-form .ant-col-xs-24{
        width: 100% !important;
        padding-left:10px; 
        label{
          font-family: Arial;
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          font-size: 17px;
          
          color: #BCBBC3;
    
        }
      }
      .signup-form input{
        border: none !important;
        border-bottom: 1px solid #ddd !important;
        border-radius: 0 !important;
  
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 21px;
  
        color: #394158;
      }
      .signup-form input:focus{
        border-bottom: 1px solid #ddd !important;
        box-shadow: none;
      }
      .signup-form input:-webkit-autofill{
        background-color: transparent !important;
      }
      .signup-form .exp{
        .ant-form-item {
          width:153px;
        }
      }
    }
    .ant-form-item-control {
      text-align: center;
    }
    .save-button {
      width: 190px;
      height: 49px;
      margin-top: 70px;
  
      background: #16C360;
      border-color: transparent;
      border-radius: 7px;
      font-family: Arial;
      font-style: normal;
      font-weight: bold;
      line-height: 19px;
      font-size: 18px;
      text-align: center;
  
      color: #FFFFFF;
    }
    .field-id {
      width: 315px;
      height: 41px;
      padding-left: 6px;
      font-family: Arial;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 17px;
      color: #BCBBC3;

    }
    .in-id-format {
      width: 315px;
      height: 41px;
      padding: 4px 11px;
      border: none !important;
      border-bottom: 1px solid #ddd !important;
      border-radius: 0 !important;
      font-family: Arial;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 21px;
      color: #394158;

    }
    .in-card-format {
      width: 315px;
      height: 41px;
      padding: 4px 11px;
      border: none !important;
      border-bottom: 1px solid #ddd !important;
      border-radius: 0 !important;
      font-family: Arial;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 21px;
      color: #394158;
    }
    .field-card-input {
      height: 18px;
      width: 325px;
      padding-left: 10px;
      font-family: Arial;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 17px;
      color: #BCBBC3;
    }

    .field-cardtype {
      height: 18px;
      width: 330px;
      padding-left: 10px;
      font-family: Arial;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 17px;
      color: #BCBBC3;
    }
    .field-month {
      height: 18px;
      width: 153px;
      padding-left: 10px;
      font-family: Arial;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 17px;
      color: #BCBBC3;

    }
    .field-year {
      height: 18px;
      width: 153px;
      margin-left: 10px;
      padding-left: 10px;
      font-family: Arial;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 17px;
      color: #BCBBC3;

    }
    .select-type {
      width: 310px;
      margin-top: 4px;
      border-bottom: 1px solid #ddd;

    }
    .select-month {
      width: 150px;
      margin-top: 4px;
      border-bottom: 1px solid #ddd;

    }
    .select-year {
      width: 150px;
      margin-top: 4px;
      border-bottom: 1px solid #ddd;

    }
    .Select-control {
      border: 0px;
      font-family: Arial;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 21px;
      color: #394158;
    }
    .Select-value {
      top: 3px;
    }
    .input-full-name {
      margin-left: 10px;
    }
  }